* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  background-color: #9E9E9E;

  @media all and (orientation : landscape) { 
    flex-direction: row;
    max-width: 640px;
  } 
}

.game {
  position: relative;
  width: 100%;
  margin: 0 auto;
  flex: 1;

  canvas {
    display: block;
    margin: 0 auto;
  }
}

.ghost-canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn-wrap {
  display: flex;
  padding: 20px 0;
}

.controller {
  height: 240px;
  width: 100%;
  margin: 0 auto;

  text-align: center;
  z-index: 7;
}

.start-wrap {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operate-wrap {
  flex: 1;
}

.controller-btn {
  padding: 1em 1.5em;
  margin-bottom: .5em;
  border: none;
  background-color: #1976D2;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.pause-btn,
.continue-btn {
  display: none;
}

.tips {
  margin: 1em 0;
  font-size: 12px;
  color: #ccc;
}

.score {
  font-size: 18px;
}
