{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    ["transform-class-properties"],
    ["import", {
      "libraryName": "antd-mobile",
      "style": "css"
    }],
    "transform-flow-comments",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
